@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: #2a324b;
    --lightblue: #58699D;
    --white: #fff;
    --grey: #e1e5ee


}
html, body{
    background: var(--grey);
    font-family: "Monterserrat", "Roboto", sans-serif;
}

header {
    
    
    
}

header nav ul {
    list-style: none;
}

#navtabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    min-width: 750px;
    margin: auto auto 0 auto;
}

#tab {
    background-color: var(--blue);
    color: var(--white);
    padding: 20px;
    font-weight: bold;
}

#tab:hover {
    background-color: var(--white);
    color: var(--blue);
    border: none;
}




main {
    padding: 50px;
    background-color: var(--white);
    margin: 20px auto;
    margin-top: 0;
    max-width: 800px;
    
}

h2 {
    font-size: 22;
    color: var(--blue);
}

p {
    font-size: 14px; 
}

#links {
    padding-top: 10px;
    padding-left: 40px;
}





