@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: #2a324b;
    --lightblue: #58699D;
    --white: #fff;
    --grey: #e1e5ee


}
body{
    background: var(--grey);
}


